.welcome-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.welcome-image {
  width: auto;
  max-width: 250px;
}

.title {
  font-size: 2rem;
  font-weight: 900;
}

.subtitle {
  font-size: 1.2rem;
  color: #444;
}

/* MOBILE */
@media (max-width: 1024px) {
  .welcome-image {
    width: 80%;
    max-width: none;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .continue-btn,
  .secondary-btn {
    width: 80%;
    font-size: 1.8rem;
    padding: 18px 0;
    border-radius: 14px;
  }
}